<section class="content-header">
  <h1>
    General Form Elements
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Forms</a></li>
    <li class="active">General Elements</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    
    <div class="col-md-8">

      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">General Elements</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <form role="form">
            <!-- text input -->
            <div class="form-group">
              <label><span>*</span>会员姓名</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
            <div class="form-group">
            <label>会员卡卡号</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
            <div class="form-group">
              <label>会员卡金额</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
            <div class="form-group">
              <label>会员手机号</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
            <div class="form-group">
              <label>会员卡金额</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>

            <div class="form-group">
                  <label>会员卡经办人</label>
                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>

            <!-- textarea -->
            <div class="form-group">
              <label>会员卡备注</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>


        
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>